.custom-search-block-form {
	position: relative;
}

.custom-search-block-form .custom-search-textfield {
	/*position: absolute;*/
	width: 75%;
	float: left;
}

.custom-search-block-form .custom-search-button {
	position: absolute;
	top: 13px;
	right: 37px;
}

.custom-search-block-form .custom-search-button input[type="submit"] {
	border-radius: 0px 5px 5px 0px;
	height: 30px;
}